body{position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-family: Buenard-Regular;
    }

@font-face{
    font-family: 'ImperioRomano';
    src: url('ImperioRomano.ttf') format('truetype');
}

@font-face {
    font-family: 'Buenard-Regular';
    src: url('Buenard-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Buenard-Bold';
    src: url('Buenard-Bold.ttf') format('truetype');
}

.header{text-align: center;}

.titre{font-size:150%;}

.vignettes {font-family:imperioromano;
font-size:500%;
text-align:center}

.acteurs{
    position: fixed;
    top: 0;
    left: 1%;
    width: 15%;
font-size:80%;
padding:1%;
margin-top: 1%;
border: 1px solid black;
}

.menu{position: fixed;
top: 0;
right: 1%;
width: 15%;
font-size:80%;
text-align: center;
padding:1%;
margin-top: 1%;
border: 1px solid black;
}

.didascalie{font-style:italic;}

.didasacteurs{font-style: italic;
text-align: center;}

.preface{text-align: center;}

@media (max-width: 1200px) {
    .texte{font-size:60%}
    }

.acte{text-align: center;}

h4{text-align: center;}

.textelettre{
text-indent: 20px;
text-align: justify;}


.petitesvignettes{font-family:imperioromano;
    font-size:300%;
    text-align:center}
    
p{text-align: left;}

img{height:300px;
    width:194px;
    text-align:center;
    margin:auto;
    display:flex}

a{color:black;}
a:hover{color:rgb(189, 189, 189)}